In [1]:
import sqlite3
import pandas as pd
import csv
import zipfile, io
import chardet
from tqdm import tqdm

dbpath = "E:\Technologie\Master\Webm\opensubtitles.org.Actually.Open.Edition.2022.07.25\opensubs.db"
indexpath = "E:\Technologie\Master\Webm\opensubtitles.org.Actually.Open.Edition.2022.07.25\subtitles_all.txt"

output_file = "E:\Technologie\Master\Webm\subtitles_all.pkl"

In [2]:
def tab_to_array(input_str):
    # Split the string into a list of fields
    fields = input_str.strip().split('\t')

    # Convert the list to a CSV string
    # csv_str = ','.join([f'"{field}"' for field in fields])

    return fields

In [3]:
lines = []
count = 0
with open(indexpath, "r", encoding="utf-8") as f:
    for line in f:
        tab = tab_to_array(line)
        if len(tab) == 16:
            lines.append(tab)

In [4]:
df = pd.DataFrame(lines[1:],columns=lines[0])
lines = []

In [5]:
# keep only the lines with the language "en"
df = df[df['ISO639'] == 'en']

# keep only the lines with the format "srt"
df = df[df['SubFormat'] == 'srt']

# keep only the lines with the movie type "movie"
df = df[df['MovieKind'] == 'movie']

# keep only the columns we need
df = df[['IDSubtitle', 'MovieName', 'MovieYear']]

# drop the duplicates
df = df.drop_duplicates(subset=["IDSubtitle"])

# keep only one row per movie
df = df.drop_duplicates(subset=['MovieName', 'MovieYear'], keep='first')

df.head()

   IDSubtitle                        MovieName MovieYear
2           3  Ghost in the Shell 2: Innocence      2004
4           5        The City of Lost Children      1995
12         13     The Legend of Drunken Master      1994
14         14          House of Flying Daggers      2004
16         16                       Lu ding ji      1992

In [6]:
# save the dataframe as a pickle file
df.to_pickle(output_file)